/* Global Styles */
html {
    background-color: rgba(122, 191, 191, 0.5);
}
h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
h3 {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

nav a, nav span, figcaption, #social li, footer {
    font-size: 20px;
}

p, dd, li, nav, input {
    font-size: 16px;
}
dt {
    font-size: 16px;
}

body {
    margin: 0 auto;
    background-color: #F2F2F2;
}
#home {
    background-color: #eb5428;
}
nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}
ul {
    margin: 0 0 30px;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    background-color: #EB5428;
}
form {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="search"] {
    margin: 0;
    padding: 14px;
    font-size: 14px;
    border: 1px solid #eb5428;
}
button[type="submit"] {
    cursor: pointer;
    background-color: #eb5428;
    border: 1px solid #eb5428;
}
h1 {
    text-align: center;
}
li {
    list-style: none;
    display: inline-block;
}
li a {
    text-transform: uppercase;
    color: #eb5428;
    text-align: center;
    font-size: 16px;
}
/*Styles for 768px*/

/*Styles for 320px*/
@media screen and (max-width: 320px) {
    nav {
        width: 100%
    }
    nav ul {
        padding: 0;
    }
    nav li {
        display: inline-block;
        text-align: center;
    }
    #hamburger, #avatar {
        width: 20%
    }
    #home {
        width: 50%
    }
     /* select 3rd through 9th children of li*/
    nav li:nth-child(n+3):nth-child(-n+9) {
        display: none;
        width: 0;
    }

    main ul:first-child {
        display: flex;
        padding-left: 0;
    }

    main ul:first-child li {
        display: inline-block;
        width: 25%;
        text-align: center;
    }
    /*Style the image to fit the screen*/
    [src="images/street-tacos.png"] {
        width: 100%;
    }

    main > p:nth-child(3), main > p:nth-child(4) {
        padding: 5px;
    }

    #details h2, #ingredients h2, #directions h2 {
        text-align: center;
    }

    #details ul {
        text-align: left;
    }
    #details ul li {
        display: inline-block;
    }

    #ingredients li {
        list-style: disc;
        display: list-item;
    }
    #directions li {
        list-style: decimal;
        display: list-item;
        padding: 5px;
    }

    #side-dishes {
        background-color: #7ABFBF;
    }
    #side-dishes ul {
        padding: 0;
    }
    #side-dishes li {
        margin: 0;
    }
    #side-dishes li p {
        text-transform: uppercase;
    }
    #side-dishes img {
        width: 25%;
        float: left;
        padding: 10px
    }
    #side-dishes div {
        width: 65%;
        float: right;
    }


}
